In [ ]:
# list4 =[2,5,15,30,45,67,89,100,120, -123,-45,-66,88,-890]
1. get the count of even numbers,(How many even numbers in the above list4)
2. get the count of positive numbers
3. get the sum of positive even number
4. get the sum of negative odd number
5. get the product of negative numbers
1. product of odd numbers under 5000
2. sum of nmbers divisible by 5 under 2000
3. sum of number [0,25,50,75,100,125,150,....975,1000]
4. sum of numbers[-90,-80,-70,... -10,0]
5. product numbers [-9,-8,-7,-6,-5....-1,0]

In [1]:
list4 =[2,5,15,30,45,67,89,100,120, -123,-45,-66,88,-890]

In [2]:
# count how many even numbers in the list
def count_even_in_list(list_1):
    c1 = 0
    for i1 in list_1:
        if i1%2 == 0:
            c1 = c1+1
    return c1

In [3]:
count_even_in_list(list4)

7

In [4]:
#count negative odd numbers
def count_negative_odd(list_2):
    c2 = 0
    for i2 in list_2:
        if i2 < 0 and i2%2 == 1:
            c2 = c2+1
    return c2

In [6]:
count_negative_odd(list4)

2

In [7]:
#count negative even numbers
def count_negative_even(list_2):
    c2 = 0
    for i2 in list_2:
        if i2 < 0 and i2%2 == 0:
            c2 = c2+1
    return c2

In [8]:
count_negative_even(list4)

2

In [12]:
#count how any numbers above 100 in the list
def count_above_100(list_3):
    c3 = 0
    for i3 in list_3:
        if i3 >= 100:
            c3 = c3+1
    return c3

In [13]:
count_above_100(list4)

2

In [14]:
def count_below_100(list_3):
    c3 = 0
    for i3 in list_3:
        if i3 < 100:
            c3 = c3+1
    return c3

In [16]:
#c3 =99

In [17]:
#product of odd numbers under 5000

In [21]:
def pro_odd_5000():
    pro=1
    for i1 in range(1,500):
        if i1 % 2 ==1:
            pro = pro*i1
    return pro

In [22]:
pro_odd_5000()

208604284293399085604137531380642264845696522995883280260208890335592434187334787184129783035459017003115722423575460202397878351209550826620861120481661278169994723444541531600253338916086085445932955967253886218686660370194805132303474892329460161542480661453908252918841644289966800318085417013762040809292199040682511297867003034588151158639970310749844326987774114622947970567074041240505009220166328193278271918274409909332869012688977854597684895841115753307907281275691434551575334662681182212858372658799006398379935305065213668740398134104907512664794921875

In [23]:
#count total items ina list with out using len function

In [24]:
len(list4)

14

In [25]:
def count_list(list_1):
    c1=0
    for i1 in list_1:
        c1 = c1+1
    return c1

In [26]:
count_list(list4)

14

In [27]:
#get the index of item 100 with out using index function

In [28]:
list4.index(100)

7

In [29]:
def get_index_100(list_2):
    for i1 in range(0,len(list_2)):
        if list_2[i1]==100:
            return i1

In [30]:
get_index_100(list4)

7

In [31]:
#count how many times 100 repeated in the list with out using count function

In [32]:
list4.count(100)

1

In [33]:
def count_100_list(list_3):
    c1 = 0
    for i3 in list_3:
        if i3 == 100:
            c1 = c1 +1
    return c1

In [34]:
count_100_list(list4)

1

In [35]:
# write a function to convert centigrade temp to farenhiet temp
# write a function takes storage in MB converts it to GB and TB
# write a function takes distance in Meters and converts it to cm and KM
# write a function takes currency in dollors and converts it to Pounds, Rupees, Euros

In [36]:
list4

[2, 5, 15, 30, 45, 67, 89, 100, 120, -123, -45, -66, 88, -890]

In [37]:
# get count of even and odd numbers int he list
def count_even_odd(list_4):
    c_even=0
    c_odd=0
    for i1 in list_4:
        if i1%2 ==0:
            c_even =c_even +1
        elif i1%2==1:
            c_odd = c_odd+1
    return c_even,c_odd

In [38]:
ce,co = count_even_odd(list4)

In [39]:
print(ce,co)

7 7