In [2]:
location_info={\
    "madhapur":{"sqfeet":10000,"amenities":1000000},\
    "gachibowli":{"sqfeet":12000,"amenities":1200000},\
    "kphb":{"sqfeet":8000,"amenities":800000}\
              }

In [14]:
location = input("Please provide location :")

Please provide location :madhapur

In [8]:
def convert_rupees_to_dollors(rupees):
    cur_dollor = float(rupees)/83.0
    return cur_dollor

In [9]:
def convert_rupees_to_euros(rupees):
    cur_euro = float(rupees)/92.0
    return cur_euro

In [10]:
def convert_rupees_to_pounds(rupees):
    cur_pounds = float(rupees)/110.0
    return cur_pounds

In [15]:
try:
    d1 = location_info[location]
    sqf = int(input("How much square feet flat needed: "))
    #total_cost = sqf+amenities
    total_cost = float(sqf)*float(d1["sqfeet"]) + float(d1["amenities"])
    x1=d1["amenities"]
    print(f"total cost  : {total_cost}\n including amenities cost: {x1}")  
    output_string=f"""
    ************************* Flat cost report in Hyderabad *********************************\n
    Square Feet :{sqf}\n
    location :{location}\n 
    Total cost of the flat in rupees : {total_cost}\n
    Total cost of the flat in pounds : {convert_rupees_to_pounds(total_cost)}\n
    Total cost of the flat in dollors: {convert_rupees_to_dollors(total_cost)}\n
    Total cost of the flat in euros  : {convert_rupees_to_euros(total_cost)}\n
    ****************************************************************************************
    """
    print(output_string)
except KeyError as e1:
    print("For this location we dont have data")

How much square feet flat needed: 1600
total cost  : 17000000.0
 including amenities cost: 1000000

    ************************* Flat cost report in Hyderabad *********************************

    Square Feet :1600

    location :madhapur

    Total cost of the flat in rupees : 17000000.0

    Total cost of the flat in pounds : 154545.45454545456

    Total cost of the flat in dollors: 204819.27710843374

    Total cost of the flat in euros  : 184782.60869565216

    ****************************************************************************************

In [ ]:
"""
Trip planner task
Base location: Bangalore
Accomodation per person per day
ticket per person to and fro
place_info={"Kerala":{"ticket":4500,"acco":3500},"Delhi":{"ticket":8000,"acco":5000},
"Pune":{"ticket":6000,"acco":5000},"Hyderabad":{"ticket":4000,"acco":4000}}

Destination
No of Travellers
No of days

Total cost report for the trip

use function, exceptions wherever needed and possible
"""