In [1]:
#print multiples of 7 between numbers -300 to 100 into a file

In [3]:
fp2 = open("numbers_7.txt",'w')
for i1 in range(-300,101):
    if i1%7 == 0:
        fp2.write(str(i1))
        fp2.write('\n')
fp2.close()

In [4]:
#reading content from a file
# open a file which is existing
#read all content
#close the file

In [5]:
fp1 = open("days.txt",'r')
lines = fp1.readlines()
fp1.close()

In [7]:
#lines

In [10]:
count =0
for i1 in lines:
    if i1.strip('\n') == 'monday':
        count = count + 1
print(f"monday word appeared in the days.txt file is {count}")

monday word appeared in the days.txt file is 4

In [11]:
fp3 = open("numbers_7.txt",'r')
lines_1 = fp3.readlines()
fp3.close()
fp_even = open("numbers_even_7.txt",'w')
fp_odd = open("numbers_odd_7.txt",'w')

for i2 in lines_1:
    if int(i2.strip('\n')) % 2 == 0:
        fp_even.write(i2)
    elif int(i2.strip('\n')) % 2==1:
        fp_odd.write(i2)
fp_even.close()
fp_odd.close()

In [12]:
# count the number of words starting with a, b, g

In [18]:
fp4 = open("fruites.txt",'r')
lines_2 = fp4.readlines()
fp4.close()
#print(lines_2)
output_dict={'a':0,'b':0,'g':0}
for i4 in lines_2:
    v1=list(i4.lower())[0]
    #print(v1)
    if v1=='a':
        output_dict['a']=output_dict['a']+1
    elif v1=='b':
        output_dict['b']=output_dict['b']+1
    elif v1=='g':
        output_dict['g']=output_dict['g']+1
print(output_dict)

{'a': 7, 'b': 11, 'g': 9}

In [ ]:
names.txt

Radha:c02
Raghu:c01
Ramu:c03
Hari:c04
Ravi:c05
    
english_marks.txt

c01:80
c02:90
c03:91
c04:70
c05:75
    
maths_marks.txt
c01:85
c02:95
c03:91
c04:75
c05:75

socal_marks.txt

c01:82
c02:92
c03:93
c04:72
c05:77

In [ ]:
Read names, marks from all files
prepare progres_report for each student and write into different files
radha.txt
raghu.txt

In [4]:
fp5 = open("names_1.txt",'r')
lines_5 = fp5.readlines()
fp5.close()
d1={}
for i3 in lines_5:
    l1 = i3.strip('\n').split(':')
    print(f"name {l1[0]}")
    print(f"role number :{l1[1]}")
    d1[l1[1]]=l1[0]
print(d1)

name Radha
role number :c02
name Raghu
role number :c01
name Ramu
role number :c03
name Hari
role number :c04
name Ravi
role number :c05
{'c02': 'Radha', 'c01': 'Raghu', 'c03': 'Ramu', 'c04': 'Hari', 'c05': 'Ravi'}

In [5]:
d1

{'c02': 'Radha', 'c01': 'Raghu', 'c03': 'Ramu', 'c04': 'Hari', 'c05': 'Ravi'}

In [6]:
fp5 = open("social_marks.txt",'r')
lines_5 = fp5.readlines()
fp5.close()
social_d1={}
for i3 in lines_5:
    l1 = i3.strip('\n').split(':')
    print(f"name {l1[0]}")
    print(f"role number :{l1[1]}")
    social_d1[l1[0]]=l1[1]
print(social_d1)

name c01
role number :82
name c02
role number :92
name c03
role number :93
name c04
role number :72
name c05
role number :77
{'c01': '82', 'c02': '92', 'c03': '93', 'c04': '72', 'c05': '77'}

In [7]:
fp5 = open("math_marks.txt",'r')
lines_5 = fp5.readlines()
fp5.close()
math_d1={}
for i3 in lines_5:
    l1 = i3.strip('\n').split(':')
    print(f"name {l1[0]}")
    print(f"role number :{l1[1]}")
    math_d1[l1[0]]=l1[1]
print(math_d1)

name c01
role number :85
name c02
role number :95
name c03
role number :91
name c04
role number :75
name c05
role number :75
{'c01': '85', 'c02': '95', 'c03': '91', 'c04': '75', 'c05': '75'}

In [9]:
fp5 = open("english_marks.txt",'r')
lines_5 = fp5.readlines()
fp5.close()
english_d1={}
for i3 in lines_5:
    l1 = i3.strip('\n').split(':')
    print(f"name {l1[0]}")
    print(f"role number :{l1[1]}")
    english_d1[l1[0]]=l1[1]
print(english_d1)

name c01
role number :80
name c02
role number :90
name c03
role number :91
name c04
role number :70
name c05
role number :75
{'c01': '80', 'c02': '90', 'c03': '91', 'c04': '70', 'c05': '75'}

In [15]:
for k1 in d1.keys():
    total = int(english_d1[k1]) + int(math_d1[k1]) + int(social_d1[k1])
    output_str=f"""
    name : {d1[k1]}
    Role number : {k1}
    Marks : 
    English : {english_d1[k1]}
    Maths   : {math_d1[k1]}
    Social  : {social_d1[k1]}
    Total :{total}
    """
    fp1 =open(d1[k1],'w')
    fp1.write(output_str)
    fp1.close