# data types

In [ ]:
Integer  125
Float 12.56
String "qwerty"
Char 'c'

# python specific data types

In [ ]:
list, tuple, dictionary, set

In [1]:
# list is a collection of data items enclosed by [], any type or mix of elements and any repeatations
list_1 = [10,34,56.7,23.45,"Qwerty",'c',23,10,34,'b',10,23,"Qwerty"]
#         0   1  2    3       4      5   6  7  8  9   10 11  12
# index  it starts 0 and ends with n-1 where n is the total number of items
list_1[3]#23.45
list_1[5]#c
list_1[8]#34
list_1[2]#2
list_1[4]#Qwerty
len(list_1) #13

13

In [2]:
list_1[2]

56.7

In [3]:
list_1[2]=99.7

In [4]:
list_1

[10, 34, 99.7, 23.45, 'Qwerty', 'c', 23, 10, 34, 'b', 10, 23, 'Qwerty']

In [ ]:
tuple, is a collection of read only data items enclosed by normal ()

In [5]:
t1=(23,67,90,"qwerty",'a','v','a',23,67)
#   0  1  2    3       4   5   6   7  8

In [6]:
t1[2]#90
t1[7]#23

23

In [7]:
t1[8]=76.9

TypeError: 'tuple' object does not support item assignment

In [ ]:
set, it is a collection of items enclosed {} but not repeatable

In [8]:
s1={10,34,56,'a','v',"qwerty"}

In [9]:
s1

{10, 34, 56, 'a', 'qwerty', 'v'}

In [10]:
s2={10,34,10,56,'a','v','a',"qwerty",34}

In [11]:
s2

{10, 34, 56, 'a', 'qwerty', 'v'}

In [ ]:
dictionary is collection of key, value pairs enclosed by {}
keys are unique, keys are not repeatble
values can be repeatables
values are accessible by keys

In [12]:
d1={10:"ten",20:"twenty",12:200,'c':123,"Apple":987,'67':123}

In [13]:
d1[10]#ten

'ten'

In [14]:
d1['c']#123
d1[12]#200

200

In [15]:
d1[12]=9999

In [16]:
d1

{10: 'ten', 20: 'twenty', 12: 9999, 'c': 123, 'Apple': 987, '67': 123}

In [17]:
list_2 =[10,20,30,22,11,4,56,77,99]

In [18]:
print(len(list_2))

9

In [19]:
for i1 in list_2:
    print(i1)

10
20
30
22
11
4
56
77
99

In [20]:
sum1=0

In [21]:
for i1 in list_2:
    sum1 = sum1+i1

In [22]:
print(sum1)

329

In [23]:
min1=list_2[0]

In [24]:
for i1 in list_2:
    if i1 < min1:
        min1=i1

In [25]:
print(min1)

4

In [26]:
max1=list_2[0]

In [27]:
for i1 in list_2:
    if i1 > max1:
        max1=i1

In [28]:
print(max1)

99

In [29]:
pro1=1

In [30]:
for i1 in list_2:
    pro1=pro1*i1

In [31]:
print(pro1)

2479365504000

In [32]:
list_3=[23,56,12,67,89,-123,-45,999]

In [ ]:
#sum,product, min, max

In [ ]:
list_4=[23,666,777,1233,5675,999,-345,-87]

In [ ]:
#sum,product, min, max