In [14]:
class m_class():
    def __init__(self,n_file,e_file,s_file,m_file):
        self.n=open(n_file,'r')
        self.e=open(e_file,'r')
        self.s=open(s_file,'r')
        self.m=open(m_file,'r')
        self.n_data=self.n.readlines()
        self.e_data=self.e.readlines()
        self.m_data=self.m.readlines()
        self.s_data=self.s.readlines()
        self.m.close()
        self.n.close()
        self.s.close()
        self.e.close()
        self.nd={}
        self.ed={}
        self.sd={}
        self.md={}
        
    def populate_data(self):
        for i1 in self.n_data:
            v1=i1.strip('\n').split(':')
            self.nd[v1[1]] =v1[0]
        for i2 in self.m_data:
            v2=i2.strip('\n').split(':')
            self.md[v2[0]]=v2[1]
        for i3 in self.e_data:
            v3=i3.strip('\n').split(':')
            self.ed[v3[0]]=v3[1]
        for i4 in self.s_data:
            v4=i4.strip('\n').split(':')
            self.sd[v4[0]]=v4[1]
            
    def prepare_report(self):
        report_d={}
        for m1 in self.nd.keys():
            total = int(self.md[m1])+int(self.sd[m1])+int(self.ed[m1])
            report_str=f"""
            ************************** report for {m1} **************************
            role number : {self.nd[m1]}
            maths_marks : {self.md[m1]}
            social_marks: {self.sd[m1]}
            english_marks: {self.ed[m1]}
            total        : {total}
            *********************************************************************            
            """
            report_d[m1]=report_str
        return report_d

In [20]:
try:
    m1=m_class("names.txt","english_marks.txt","social_marks.txt","math_marks.txt")
    m1.populate_data()
    report_cards_dict=m1.prepare_report()
except Exception as e1:
    print(f"excetion occured : {e1}")

In [21]:
for k1,v1 in report_cards_dict.items():
    print(v1)

            ************************** report for c02 **************************
            role number : Radha
            maths_marks : 95
            social_marks: 92
            english_marks: 90
            total        : 277
            *********************************************************************


            ************************** report for c01 **************************
            role number : Raghu
            maths_marks : 85
            social_marks: 82
            english_marks: 80
            total        : 247
            *********************************************************************


            ************************** report for c03 **************************
            role number : Ramu
            maths_marks : 91
            social_marks: 93
            english_marks: 91
            total        : 275
            *********************************************************************


            ************************** report for c04 **************************
            role number : Hari
            maths_marks : 75
            social_marks: 72
            english_marks: 70
            total        : 217
            *********************************************************************


            ************************** report for c05 **************************
            role number : Ravi
            maths_marks : 75
            social_marks: 77
            english_marks: 75
            total        : 227
            *********************************************************************