In [1]:
"""range(0,20,3) => [0,3,6,9...]
range(0,20,5)=> [0,5,10,15]
range(13,59) multiples of 3"""

'range(0,20,3) => [0,3,6,9...]\nrange(0,20,5)=> [0,5,10,15]\nrange(13,59) multiples of 3'

In [ ]:
"""modulo => %
10/3   3.3
10%3 => 1
9%2 =>1
13%2 => 1
17%3 => 2
15%3 =>0 it is divisible by 3
15%5 => 0 it is divisible by 5"""

In [5]:
for i1 in range(13,59):
    if i1%7 == 0:
        print(i1)

14
21
28
35
42
49
56

In [6]:
# calculates um of even numbers between 67 and 99

In [7]:
sum1 = 0
for i2 in range(67,100):
    if i2%2 == 0:
        sum1 = sum1+i2
print(sum1)

1328

In [8]:
# calculates um of odd numbers between 67 and 99

In [9]:
sum1 = 0
for i2 in range(67,100):
    if i2%2 == 1:
        sum1 = sum1+i2
print(sum1)

1411

In [10]:
#calculate sum of number divisible by 5 between 78 and 199
#calculae sum of numbers divisible by 7 between 45 and 78
# calculate sum of numbers divisbile by 9 between 67 and 199
# accept two numbers find sum of even numbers between them
# accept two numbers find product of odd numbers between them
# accept two numbers find largest of two numbers

In [11]:
#accept size of the disk in GBs and convert into MBs and TBs

In [16]:
size_gb = float(input())
size_mb = size_gb/1024.0
size_tb = size_gb*1024.0

678

In [17]:
print( "size in gb ",size_gb)
print( "size in tb ",size_tb)
print( "size in mb ", size_mb)

size in gb  678.0
size in tb  694272.0
size in mb  0.662109375

In [ ]:

"""1MB  1024 KB
1024 MB  1GB

1GB 1024MB  
1024 MB 1GB

1TB 1024GB
1024 GB 1TB"""

In [ ]:
# accpet distance in meters and convert it into CM and KM

In [20]:
dist_m = float(input())
dist_cm = dist_m*100.0
dist_km = dist_m/1000.0

567

In [21]:
print( " distance in meter ", dist_m)
print( " distance in centi meter ", dist_cm)
print( " distance in kilo meter ", dist_km)

 distance in meter  567.0
 distance in centi meter  56700.0
 distance in kilo meter  0.567

In [22]:
x=10
y=9
result = 3*x+5*y+100
print(result)

175

In [23]:
x=89.7
y=65.4
result = 3.0*x+5.0*y+100.0
print(result)

696.1

In [ ]:
# list4 =[2,5,15,30,45,67,89,100,120, -123,-45,-66,88,-890]
1. get the count of even numbers,(How many even numbers in the above list4)
2. get the count of positive numbers
3. get the sum of positive even number
4. get the sum of negative odd number
5. get the product of negative numbers
1. product of odd numbers under 5000
2. sum of nmbers divisible by 5 under 2000
3. sum of number [0,25,50,75,100,125,150,....975,1000]
4. sum of numbers[-90,-80,-70,... -10,0]
5. product numbers [-9,-8,-7,-6,-5....-1,0]

In [24]:
list4 =[2,5,15,30,45,67,89,100,120, -123,-45,-66,88,-890]

In [25]:
# getting sum of positive even numbers
sum2 =0
for i3 in list4:
    if i3 > 0 and i3 % 2 == 0:
        sum2 = sum2+i3
print(sum2)

340

In [26]:
# product of negative odd numbers
pro1=1
for i4 in list4:
    if i4 < 0 and i4%2 ==1:
        pro1 = pro1*i4
print(pro1)

5535

In [27]:
# count of negative numbers
c1 = 0
for i5 in list4:
    if i5 < 0:
        c1 = c1+1
print(c1)

4

In [28]:
# count of negative even numbers
c2 = 0
for i6 in list4:
    if i6 < 0 and i6%2 ==0:
        c2=c2+1
print(c2)

2