In [1]:
"""1. Accept time in Hours and minutes and print greeting message like Good morning, Good evening etc.,
2. Accept first_name, last_name, print birthday wishes
3. Accept first_name, Last_name, class, Section, marks(english, maths, science) print report card of student
4. Accept first_name, Last_name, DOB, print birth certificate"""

'1. Accept time in Hours and minutes and print greeting message like Good morning, Good evening etc.,\n2. Accept first_name, last_name, print birthday wishes\n3. Accept first_name, Last_name, class, Section, marks(english, maths, science) print report card of student\n4. Accept first_name, Last_name, DOB, print birth certificate'

In [2]:
#1. Accept time in Hours and minutes and print greeting message like Good morning, Good evening etc.

In [10]:
hr = int(input())
mi = int(input())

17
30

In [11]:
if hr > 0 and hr <12:
    print("good morning")
elif hr > 12 and hr < 16:
    print("good afternoon")
elif hr > 16 and hr < 24:
    print("good evening")

good evening

In [14]:
#24 hr format
if (hr > 0 and mi <59) and (hr < 12 and mi <59):
    print("good morning")
elif (hr > 12 and mi <59) and (hr < 16 and mi <59):
    print("good afternoon")
elif (hr > 16 and mi <59) and (hr < 24 and mi <59):
    print("good evening")

good evening

In [18]:
hr = int(input())
mi = int(input())
am_pm=input()

10
30
pm

In [19]:
# 12 hour format
if (hr > 0 and mi <59) and (hr < 12 and mi <59) and (am_pm == 'am'):
    print("good morning")
elif (hr > 0 and mi <59) and (hr < 4 and mi <59) and (am_pm == 'pm'):
    print("good afternoon")
elif (hr > 4 and mi <59) and (hr < 12 and mi <59) and (am_pm == 'pm'):
    print("good evening")

good evening

In [20]:
#2. Accept first_name, last_name, print birthday wishes

In [22]:
first_name=input("enter first name ")
last_name=input("enter last name ")

enter first name Ravi
enter last name Kumar

In [25]:
greeting_string = f"Happy Birthday {first_name} {last_name}"

In [26]:
print(greeting_string)

Happy Birthday Ravi Kumar

In [27]:
g_string = "Happy Birthday "+ first_name + ' '+last_name

In [28]:
print(g_string)

Happy Birthday Ravi Kumar

In [31]:
g_string1 = "happy birthday " + str(hr) + ' '+ str(mi)

In [38]:
g_string2= f"happy birthday {hr} {mi}" # f for string formatting

In [39]:
print(g_string2)

happy birthday 10 30

In [40]:
#3. Accept first_name, Last_name, class, Section, marks(english, maths, science) print report card of student

In [44]:
f_name = input("enter first name ")
l_name = input("enter last name")
cl = input("enter class ")
se = input("enter section ")
e_marks = input("enter english marks ")
m_marks = input(" enter maths marks ")
s_marks = input(" enter science marks")
total_marks = int(e_marks) + int(m_marks) + int(s_marks)
percentage = (float(total_marks)/300.0)*100.0

enter first name Laxmi
enter last nameKumari
enter class 9th
enter section C
enter english marks 89
 enter maths marks 98
 enter science marks92

In [49]:
report_card_string=f"""
***************************** Report card ******************\n
Name: {f_name} {l_name}  Class: {cl}  Section {se}\n
Subject wise marks: \n
English : {e_marks}\n
Maths : {m_marks}\n
Science: {s_marks}\n
Total : {total_marks}\n
Percentage: {percentage}\n
************************ Congratulations *******************\n
"""

In [50]:
print(report_card_string)

***************************** Report card ******************

Name: Laxmi Kumari  Class: 9th  Section C

Subject wise marks:

English : 89

Maths : 98

Science: 92

Total : 279

Percentage: 93.0

************************ Congratulations *******************

In [51]:
#4. Accept first_name, Last_name, DOB, location, Time of birth print birth certificate
#5. Accept first_name, Lastname, PAN Number, Account Balance, Date, print bank statement
#6. Accpet first_name, last_name, department, date of joining, print Service letter
#7. Accept first_name, last_name, class, section, Date of joining, date of releiving, school name print study certificate