In [1]:
"""
For loop Practice
----------------------------------------------------
1. take a list list1=[10,20,30,40,55,50,60,77,70,80,90,100]
   a. add number 3 for each item and print
   b. substract number 5 for each item and print
   c. compute sum of number in the list
   d. compute product of number in the list
   e. print odd numbers in the list
2. Take a list list2=[-5,-20,90,88,66,99,111,34,234]
   a. compute maximum number in the list
   b. compute minimum number in the list
   c. print positive numbers in the list
   d. print negative numbers in the list
   e. print even numbers in the list
"""

'\nFor loop Practice\n----------------------------------------------------\n1. take a list list1=[10,20,30,40,55,50,60,77,70,80,90,100]\n   a. add number 3 for each item and print\n   b. substract number 5 for each item and print\n   c. compute sum of number in the list\n   d. compute product of number in the list\n   e. print odd numbers in the list\n2. Take a list list2=[-5,-20,90,88,66,99,111,34,234]\n   a. compute maximum number in the list\n   b. compute minimum number in the list\n   c. print positive numbers in the list\n   d. print negative numbers in the list\n   e. print even numbers in the list\n'

In [5]:
list1=[10,20,30,40,55,50,60,77,70,80,90,100]

In [ ]:
# add 3 to every item in the list

In [7]:
list1[0]

10

In [8]:
len(list1)

12

In [12]:
for i2 in range(0,len(list1),1):
    list1[i2] = list1[i2]+3

In [13]:
print(list1)

[13, 23, 33, 43, 58, 53, 63, 80, 73, 83, 93, 103]

In [14]:
for i2 in range(0,len(list1),1):
    list1[i2] = float(list1[i2])/10.0

In [15]:
print(list1)

[1.3, 2.3, 3.3, 4.3, 5.8, 5.3, 6.3, 8.0, 7.3, 8.3, 9.3, 10.3]

In [16]:
list1=[10,20,30,40,55,50,60,77,70,80,90,100]

In [17]:
for i2 in range(0,len(list1),1):
    list1[i2] = list1[i2]-5

In [18]:
print(list1)

[5, 15, 25, 35, 50, 45, 55, 72, 65, 75, 85, 95]

In [19]:
sum1=0
for i2 in range(0,len(list1),1):
    sum1=sum1 +list1[i2]

In [20]:
sum2 = 0
for i3 in list1:
    sum2=sum2+i3

In [21]:
sum1

622

In [22]:
sum2

622

In [24]:
list1

[5, 15, 25, 35, 50, 45, 55, 72, 65, 75, 85, 95]

In [25]:
odd_list = []
for i2 in range(0,len(list1),1): #0,1,2,3,4....11 #list1[0]
    if list1[i2] % 2 ==1:
        odd_list.append(list1[i2])

In [26]:
print(odd_list)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [6]:
for i1 in list1:
    print(i1)

10
20
30
40
55
50
60
77
70
80
90
100

In [2]:
first_name = "Hari"
last_name = "Kumar"

In [3]:
str1 = f"Good morning {first_name} {last_name}"

In [4]:
print(str1)

Good morning Hari Kumar

In [27]:
list2=[-5,-20,90,88,66,99,111,34,234]

In [28]:
max1 = list2[0]

In [29]:
for i4 in list2:
    if max1 < i4:
        max1 = i4

In [30]:
print(max1)

234

In [31]:
min1 = list2[0]

In [32]:
for i5 in list2:
    if min1 > i5:
        min1 = i5

In [33]:
print(min1)

-20

In [34]:
min(list2)

-20

In [35]:
max(list2)

234

In [ ]:
1. Accept temperature value in centigrade and convert it to fahrenheit
 F = (C × 9/5) + 32
2. Accept temperature value in fahrenheit and convert it to centigrade
C = (F − 32) x 5/9
3. Accept a number in Dollors and convert it to Pounds, Euros, Rupees
1Dollor = 80 Rupees
1Pounds = 90 Rupees
1 Euro = 85 Rupees
4. Accept a number in Rupees and convert it to Dollors, Pounds, Euros

In [36]:
cent_temp= float(input("enter temp in centigrade: "))

enter temp in centigrade: 38.3

In [38]:
far_temp=(cent_temp * 9.0/5.0) + 32.0

In [40]:
print(f"fahrenheit temperature : {far_temp}")

fahrenheit temperature : 100.94

In [41]:
cur_dollor = float(input("enter curreny value in dollors :"))

enter curreny value in dollors :10

In [42]:
cur_rupees = float(cur_dollor)*83.2

In [43]:
print(f"currency in rupees : {cur_rupees}")

currency in rupees : 832.0

In [44]:
cur_pounds = cur_rupees/102.0

In [45]:
print(f"curreny in pounds : {cur_pounds}")

curreny in pounds : 8.156862745098039

In [46]:
cur_euros = cur_rupees/89.0

In [47]:
print(f"currency in euros : {cur_euros}")

currency in euros : 9.348314606741573

In [48]:
result_statement =f"""
*********************** currency statement **********************\n
Dollors :{cur_dollor}\n
Euros   :{cur_euros}\n
Rupees  :{cur_rupees}\n
Pounds  :{cur_pounds}\n
******************************************************************
"""

In [49]:
print(result_statement)

*********************** currency statement **********************

Dollors :10.0

Euros   :9.348314606741573

Rupees  :832.0

Pounds  :8.156862745098039

******************************************************************

In [ ]:
Tue 6.30am,Thur 6.30am,Sat=>Sunday 9pm IST