In [ ]:
"""
set is a special case of list, where items are not repeatable
enclosed by {}
"""

In [1]:
s1 = { 10,20,30,55,90,88,12.09,'c'}

In [2]:
s1[1]

TypeError: 'set' object is not subscriptable

In [3]:
s2={10,20,30,78,56}

In [4]:
s1.union(s2) #combines two sets and removes duplicates

{10, 12.09, 20, 30, 55, 56, 78, 88, 90, 'c'}

In [5]:
s1.intersection(s2) #gets the common items of the two sets

{10, 20, 30}

In [6]:
s1-s2 # items which are present inthe set s1 but not in set s2

{12.09, 55, 88, 90, 'c'}

In [7]:
s2-s1 # items which are present in the set s2 but not in s1

{56, 78}

In [8]:
# s1-s2 not equal to s2-s1

In [11]:
s11={"apple","banana","grapes"}
s22={"grapes","lemon","potatoes"}
s33={"potatoes","onions","lemon"}

In [ ]:
# get all vegitables
# get all fruites

In [13]:
s22.intersection(s33).union(s33)

{'lemon', 'onions', 'potatoes'}

In [14]:
s11.intersection(s22).union(s11)

{'apple', 'banana', 'grapes'}

In [15]:
s22.intersection(s11).union(s11)

{'apple', 'banana', 'grapes'}

In [17]:
football_players = {"Ramu","Hari","Krishna"}
cricket_players = {"Ravi","Ramu","Harish"}
tt_players = {"Ramu","Harish","Raghava"}

In [ ]:
# get all players
# get players who play all games
# players play only football and cricket
#players play tt and cricket
# players play tt and football
#players play football but not cricket
#players play tt but not football

In [18]:
football_players.union(cricket_players).union(tt_players)

{'Hari', 'Harish', 'Krishna', 'Raghava', 'Ramu', 'Ravi'}

In [19]:
football_players.intersection(cricket_players).intersection(tt_players)

{'Ramu'}

In [20]:
football_players.intersection(cricket_players)

{'Ramu'}

In [21]:
cricket_players.intersection(tt_players)

{'Harish', 'Ramu'}

In [22]:
tt_players-football_players

{'Harish', 'Raghava'}

In [23]:
football_players - cricket_players

{'Hari', 'Krishna'}

In [24]:
tt_players.intersection(football_players)

{'Ramu'}

In [25]:
#rupees to dollor conversion
def rupee_dollor_conversion(cur_rupee):
    cur_dollor = float(cur_rupee)/83.0
    return cur_dollor

In [26]:
r1=rupee_dollor_conversion(1000)

In [27]:
print(r1)

12.048192771084338

In [28]:
r2=rupee_dollor_conversion(25000)
print(r2)

301.2048192771084

In [30]:
def rupee_dollor_conversion_1(cur_rupee,conv_rate):
    cur_dollor = float(cur_rupee)/conv_rate
    return cur_dollor

In [31]:
rupee_dollor_conversion_1(54000,83.2)

649.0384615384615

In [32]:
rupee_dollor_conversion_1(75000,82.9)

904.7044632086851